<h1>Flowing</h1>

<div id="results">
</div>

<script type="text/javascript">
$(document).ready(function(){
  async.parallel(
    [
      function(callback) {compute("1+2", callback);},
      function(callback) {computedelay("7-3+5", callback);},
      function(callback) {compute("7-3", callback);}
    ],
    function(err, data){
      $("#results").append("<p>"+data+"</p>");
    });
});
</script>
