<h1>Why promises</h1>

<p>
  <button id="butt1">Button 1</button>
</p>
<p>
  <button id="butt2">Button 2</button>
</p>

<script type="text/javascript">
$('#butt1').click(function(){
  alert("click button 1");

  $('#butt2').click(function(){
    alert("click button 2");
  });
});
</script>
